.container{
  display: flex;
  box-sizing:border-box;
}
.Partie1{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: brown;
  }
.Partie1 img{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 70%;
  width: 80px;
  height: 80px;
}
.Partie2{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  background-color: yellow;
}
.Partie3{
  display: flex;
  flex-direction: column;
  flex: none;
  background-color: blue;
  width: 200px;
}
.centres{
  display: flex;
  flex-direction: row;
  background-color: red;
 }
.Partie4{
  display: flex;
  flex-direction: column;
}
.Partie5{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
background-color: rgb(0, 255, 195);
align-content: end;
width: 500px;
}
.Partie5 img{
  display: flex;
  width: 80px;
  height: 80px;
  flex-direction: row;
  justify-content: space-around;
}
