.container{
  display: flex;
  box-sizing:border-box;
}
h2{
  display: flex;
  background-color: coral;
  margin-right: 25px;
}
.Partie1{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:brown;
  }
.Partie1 img{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 70%;
  width: 80px;
  height: 80px;
}
.Partie2{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  background-color: rgb(4, 1, 15);
}
.Partie3{
  display: flex;
  flex-direction: column;
  flex: none;
  background-color:brown;
  width: 200px;
}
.centres{
  display: flex;
  flex-direction: row;
  background-color: white;
 }
.Partie4{
  display: flex;
  flex-direction: column;
  background-color: aqua;
  margin-right: 120px;
}
.Partie5{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color:brown;
  align-content: end;
  width: 500px;
  margin-right: 120px;
}
.Partie5 img{
  display: flex;
  width: 80px;
  height: 80px;
  flex-direction: row;
  justify-content: space-around;
}
